/* HELPERS */
:root {
  --primary: #6bdb9a;
  --secondary: #4657f0;
  --error: #e31e2e;
  --primary-hover: #3aa566;
  --error-hover: #a11723;
}

header {
  width: 100%;
  background-color: var(--secondary);
  text-align: center;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* APP COMPONENT */

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* CONTAINER COMPONENT */

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.create-counter {
  padding: 1rem 3rem;
  background-color: #6bdb9a;
  margin: 2rem auto;
  transition: all 0.3s ease-in-out;
}

.create-counter:hover {
  background-color: var(--primary-hover);
}

.counters-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
}

.counters-individual {
  display: flex;
  justify-content: space-between;
  background-color: #6bdb9a;
  width: 95%;
  margin: 1rem auto;
}

.counters-info {
  display: flex;
}

.counters-individual > h2,
.counters-info {
  margin: auto 2rem;
}

/* COUNTERS */

.container > h3 {
  color: white;
}
